.car-list{
  margin: 2rem 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
}
p{
  font-weight: bold;
  font-size: large;
  color: blue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.car-item{
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: antiquewhite;
  justify-content: flex-start;
}
.order{
  background-color: aqua;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid rgb(107, 102, 102);
  border-radius: 5px;
  margin-left: 5rem;
}
.car{
  margin-top: 2rem;
}
.order-container{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
