header{
  position: relative;
  background-color: whitesmoke;
  padding: 0;
  border-bottom: 1px solid rgb(44, 44, 210);
}
a{
  color:  rgb(44, 44, 210);
}
a:hover{
  color:  rgb(8, 8, 82);
  background: rgb(160, 155, 169);
  cursor: pointer;
}
.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
a.logo{
  font-weight: bold;
  padding: 1rem;
}
ul{
  display: flex;
  list-style: none;
  margin: 0;
}
ul a{
  padding: 1rem;
  display: inline-block;
}
p{
  font-weight: bold;
  color: blue;
}
