<header>
  <div class="container">
    <a routerLink="/" class="logo">Car Rent</a>
    <p>date</p>
    <p>Connected As: UserName</p>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
          <a routerLink="/signup">Sign up</a>
        </li>
        <li class="menu-container">
          <a routerLink="/profile">Profile</a>
          <a routerLink="/newOrder">New Order</a>
          <a routerLink="/myOrders">My Orders</a>
          <a>Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
